<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel=stylesheet href="static/css/bootstrap.css">
    <link rel=stylesheet href="static/css/bootstrap.min.css">
    <link rel=stylesheet href="static/css/bootstrap-select.min.css">

    <script src="static/js/echarts.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-select.min.js"></script>

    <script type=text/javascript>
        var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
        });
    </script>
    <title>Index</title>

</head>


<body>
    <div class="form-group" style="margin-left:20px">
        <br>
        <label><h2>Index</h2></label>
    </div>

    <div id="indexes" style="margin-left:40px">
        <br><a style="font-size:20px;" href="./brownian_motion" target="_blank">Brownian Motion</a>
        <br><a style="font-size:20px;" href="./martingale" target="_blank">Martingale</a>
    </div>

</body>
</html>